<h3>Add Bank Support to <%= @site_country.name %></h3>

<%= form_tag submit_bank_admin_site_country_path(@site_country), method: :post do %>
  <div class="panel">
    <div class="panel_contents">
      <div class="attributes_table">
        <table>
          <tr>
            <th>ID</th>
            <td><%= @site_country.id %></td>
          </tr>
          <tr>
            <th>Country Code</th>
            <td><%= @site_country.country_code %></td>
          </tr>
          <tr>
            <th>Name</th>
            <td><%= @site_country.name %></td>
          </tr>
          <tr>
            <th>Currency</th>
            <td><%= @site_country.currency %></td>
          </tr>
          <tr>
            <th>Current Supported Banks</th>
            <td>
              <% if @site_country.supported_banks.present? %>
                <ul>
                  <% @site_country.supported_banks.keys.each do |bank_name| %>
                    <li>
                      <%= bank_name %>
                      <%= link_to "Remove", remove_bank_admin_site_country_path(@site_country, bank_name: bank_name), method: :delete, data: { confirm: "Are you sure?" }, class: "delete_link" %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                None
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="inputs">
    <fieldset class="inputs">
      <legend><span>Add Bank Support</span></legend>
      <ol>
        <li class="string input">
          <label for="bank_name">Bank Name</label>
          <input type="text" name="bank_name" id="bank_name" required autocomplete="off">
        </li>
        <li class="text input">
          <label for="bank_details">Bank Details (JSON)</label>
          <textarea name="bank_details" id="bank_details" rows="5" cols="60" placeholder='{"swift_code": "ABCDEFGH", "routing_number": "123456789"}'></textarea>
          <p class="inline-hints">Optional JSON object with additional bank details</p>
        </li>
      </ol>
    </fieldset>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Add Bank Support" class="button">
    <%= link_to "Back", admin_site_country_path(@site_country), class: "button" %>
  </div>
<% end %>
