<h3>Cancel Fiat Deposit</h3>

<%= form_tag submit_cancel_admin_fiat_deposit_path(@fiat_deposit), method: :post do %>
  <div class="panel">
    <div class="panel_contents">
      <div class="attributes_table">
        <table>
          <tr>
            <th>ID</th>
            <td><%= @fiat_deposit.id %></td>
          </tr>
          <tr>
            <th>User</th>
            <td><%= @fiat_deposit.user.email %></td>
          </tr>
          <tr>
            <th>Amount</th>
            <td><%= @fiat_deposit.fiat_amount %> <%= @fiat_deposit.currency %></td>
          </tr>
          <tr>
            <th>Memo</th>
            <td><%= @fiat_deposit.memo %></td>
          </tr>
          <tr>
            <th>Status</th>
            <td><%= @fiat_deposit.status %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="inputs">
    <fieldset class="inputs">
      <legend><span>Cancellation Reason</span></legend>
      <ol>
        <li class="string input">
          <label for="cancel_reason">Reason for Cancellation</label>
          <textarea name="cancel_reason" id="cancel_reason" rows="5" cols="60" required></textarea>
        </li>
      </ol>
    </fieldset>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Cancel Deposit" class="button">
    <%= link_to "Back", admin_fiat_deposit_path(@fiat_deposit), class: "button" %>
  </div>
<% end %>
